body{
    margin: 0;
    padding: 0;
    background: url(/imgs/img.webp) no-repeat;
    background-size: cover;
    background-color:#36393e;
}

.box{
    width: 450px;
    background: rgba(0,0,0,0.5);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
}

.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p{
    text-align: justify;
}
ul{
    margin: 0%;
    padding: 0%;
}

.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
    letter-spacing: 15px;
}

.box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms
}

.box li a:hover{
    color: blueviolet;
}

footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    left: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(150, 140, 140);
    background:none;
    padding-bottom: 30px;
    height: 20px;
  }
